$gray-medium: #D1D1D1;
$gray-light: #EBEBEB;
$gray-midnight: #393C3E;

$orange-light: #FAA61A;
$orange-dark: #E58C1B;

$blue-light: #009DDB;
$blue-dark: #0685C1;

$green-light: #BECE23;
$green-dark: #9FB122;