@font-face {
    font-family: 'Brandon Grotesque Regular';
    src: url('~@/assets/fonts/BRANDON_REG.otf') format('opentype');
}

@font-face {
    font-family: 'Brandon Grotesque Light';
    src: url('~@/assets/fonts/BRANDON_LIGHT.otf') format('opentype');
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('~@/assets/fonts/BRANDON_MED.otf') format('otf');
}

@font-face {
    font-family: 'Brandon Grotesque Black';
    src: url('~@/assets/fonts/BRANDON_BLK.otf') format('otf');
}

@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('~@/assets/fonts/BRANDON_BLD.otf') format('otf');
}